---
layout: default
---

<div class="home">
  {% assign locations = site.places | split: ", " %}
  <h1 class="page-heading">Adventures / {{ page.tags[1] }}</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.tags[1] == locations[0] %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Day {{ post.day}}: {{ post.title }}</a>
            </h2>
          </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% assign feedUrl = locations[0] | downcase |prepend: "adventure-" | append: "-feed.xml" %}
  <p class="rss-subscribe">subscribe <a href="{{ feedUrl | prepend: site.baseurl }}">via RSS</a></p>

  <a href="/adventures/"> ⬅️ Back to Adventures</a>
</div>
